#!/bin/bash

set -eufo pipefail

{{ if (eq .chezmoi.os "linux") }}
sudo apt install tmux -y

# install github cli
cd ~
curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
sudo apt update -y
sudo apt install gh -y

# exa is a ls replacement
sudo apt install exa -y

# install go
cd ~
wget https://golang.org/dl/go1.17.1.windows-amd64.msi
sudo rm -rf /usr/local/go
sudo tar -C /usr/local -xzf go1.17.1.linux-amd64.tar.gz

# install cloudflared
echo 'deb http://pkg.cloudflare.com/ focal main' | sudo tee /etc/apt/sources.list.d/cloudflare-main.list
curl -C - https://pkg.cloudflare.com/pubkey.gpg | sudo apt-key add -
sudo apt-get update
sudo apt install cloudflared

{{ end -}}

{{ if (eq .chezmoi.os "darwin") }}
brew bundle --no-lock --file=/dev/stdin <<EOF

brew 'dockutil'

tap 'homebrew/cask' || true
tap 'homebrew/cask-versions' || true

cask 'google-chrome'
cask 'bitwarden'
cask 'visual-studio-code'
cask 'iterm2'

{{- if (.install_qol_apps) }}
cask 'vlc'
cask 'spotify'
{{- end }}

tap 'jesseduffield/lazygit'
brew 'lazygit'

brew 'bat'
brew 'curl'
brew 'ffmpeg'
brew 'gh'
brew 'git'
brew 'gnu-units'
brew 'go'
brew 'hugo'
brew 'jq'
brew 'node'
brew 'ripgrep'
brew 'tmux'
brew 'wget'
brew 'youtube-dl'

tap 'cloudflare/cloudflare'
brew 'cloudflare/cloudflare/cloudflared'

cask 'docker'
cask 'balenaetcher'

brew 'kubectl'

EOF

{{ end }}