#!/bin/bash

set -eufo pipefail

{{ if (eq .chezmoi.os "linux") }}
sudo apt install zsh -y
echo "Changing default shell to zsh..."
chsh -s $(which zsh)
{{ end }}


{{ if (eq .chezmoi.os "darwin") }}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'zsh'
EOF

echo "Changing default shell to zsh..."
chsh -s /usr/local/bin/zsh

(
	cd $HOME/Library/Fonts &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf > "MesloLGS NF Regular.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf > "MesloLGS NF Bold.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf > "MesloLGS NF Italic.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf > "MesloLGS NF Bold Italic.ttf"
)
{{ end }}